# template for .wrt.conf
[default]
SERVER: <ip:[port]>
USERNAME: <username>
PASSWORD: <password>
PROJECT_NAME: <name>
PROTOCOL: http[s]

# provide labels and shell commands that output the values
[tags]
REVISION: <shell command that outputs unique revision specifier>
